html {
	height: 100%;
	padding: 0px;
	margin: 0px;
    background-color: #FFFFFF; /*fallback for non-CSS3 browsers*/
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

img {
	border: none;
}

.section {
	width: 100%;
	position: relative;
}

.stage {
	position: relative;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box;
}

/* header */

#navigation {
	height: 100px;
	background: url(../img/navbar_bg.png) repeat-x;
	margin-bottom: 20px;
}

#navigation .stage {
	overflow: auto;
}

#header {
	margin-bottom: 20px;
}

#header .stage {
	padding-top: 30px;
}

#logo {
	width: 240px;
}

#nav {
	position: absolute;
	bottom: 20px;
	left: 0px;
}

.loginstatus {
	position: relative;
	float: right;
	clear: none;
	margin: 10px 0 0 0;
}

.loginstatus .name {
	font-weight: 700;
}

/* homepage */

#homesearch {
	background-image: url(../img/homesearch_bg.jpg);
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	padding: 30px;
	color: white;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
}

#homesearch form {
	position: relative;
	padding: 24px 90px 24px 24px;
	background-color: rgba(0,0,0,0.1);
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;	
}

#homesearch form label{
	display: none;
}


#homesearch form input[type='text']{
	width: 100%;
	font-size: 1.4em;
	padding: 10px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box;
	color: #333333;
}

#homesearch form input[type='submit'] {
	position: absolute;
	right: 24px;
	top: 24px;
	width: 45px;
	height: 45px;
	background: none;
	border: 2px solid white;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	color: white;
	font-size: 1.6em;	
	line-height: 0.9em;
	font-family: 'Source Sans Pro', sans-serif;
	cursor: pointer;
}

#homesearch #searchform_toggle {
	color: white;
	position: absolute;
	right: 30px;
	top: 30px;
	cursor: pointer;
}

#homecats {
	background-color: #EEEEEE;
	border-radius: 0 0 12px 12px;
	-moz-border-radius: 0 0 12px 12px;
	-webkit-border-radius: 0 0 12px 12px;
	margin-bottom: 20px;
	min-height: 200px;
	padding: 20px;
}

#homefeaturedjobs {
	margin-top: 20px;
}

#homefeaturedjobs .nav-tabs li {
	padding: 0 1px 0 0;
}

#homefeaturedjobs .nav-tabs li a {
	background: url(../img/nav_active_bg.png) repeat-x center bottom;
	color: white !important;	
	border: none;
	font-size: 1.6em;
	line-height: 1em;
	text-align: left;
	border-radius: 12px 12px 0 0;
	-moz-border-radius: 12px 12px 0 0;
	-webkit-border-radius: 12px 12px 0 0;
	padding-left: 56px;
}

#homefeaturedjobs .nav-tabs li a .icon {
	display: block;
	width: 32px;
	height: 32px;
	position: absolute;
	left: 15px;
	top: 15px;
	background-position: center center;
	background-repeat: no-repeat;
}

#homefeaturedjobs .nav-tabs li a.academic .icon {
	background-image: url(../img/sector_icon_academic_white.png);
}

#homefeaturedjobs .nav-tabs li a.professional .icon {
	background-image: url(../img/sector_icon_professional_white.png);
}

#homefeaturedjobs .nav-tabs li a.studentships .icon {
	background-image: url(../img/sector_icon_studentships_white.png);
}

#homefeaturedjobs .nav-tabs li.active a.academic .icon {
	background-image: url(../img/sector_icon_academic.png);
}

#homefeaturedjobs .nav-tabs li.active a.professional .icon {
	background-image: url(../img/sector_icon_professional.png);
}

#homefeaturedjobs .nav-tabs li.active a.studentships .icon {
	background-image: url(../img/sector_icon_studentships.png);
}




#homefeaturedjobs .nav-tabs li.active a{
	background: none;
	background-color: #EEEEEE;
	color: #53247E !important;
	border: none !important;	
	border-bottom: 1px solid #EEEEEE;
}

#homefeaturedjobs .tab-content{
	background-color: #EEEEEE;
	border-radius: 0 0 12px 12px;
	-moz-border-radius:  0 0 12px 12px;
	-webkit-border-radius:  0 0 12px 12px;
	margin-bottom: 20px;
	min-height: 200px;
	padding: 20px;
	
}

#homefeaturedjobs .tab-content a {
	color: #333333;
}

#recruiters_carousel {
	margin-top: 40px;
	height: 180px;
}

#recruiters_carousel img {
	max-width: 100%
}

.carousel-control {
	width: 5% !important;
	min-width: 20px !important;
	background: none !important;
	background-repeat: no-repeat !important;
}

.carousel-control.left {
	background-position: left center !important;
	background-image: url(../img/carousel-control-left.png) !important;
}

.carousel-control.right {
	background-position: right center !important;
	background-image: url(../img/carousel-control-right.png) !important;
}

/* columns */

.halfcol {
	width: 50%;
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box;
	position: relative;
	float: left;
	clear: none;
	padding: 0 15px;
	margin: 0 0 20px 0;
}

.qtrcol {
	width: 25%;
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box;
	position: relative;
	float: left;
	clear: none;
	padding: 0 30px 0 0;
	margin: 0 0 20px 0;
}

.threeqtrscol {
	width: 75%;
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box;
	position: relative;
	float: left;
	clear: none;
	padding: 0 30px 0 0;
	margin: 0 0 20px 0;
}

.thirdcol {
	width: 33.3333%;
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box;
	position: relative;
	float: left;
	clear: none;
	padding: 0 30px 0 0;
	margin: 0 0 20px 0;
}

.twothirdscol {
	width: 66.6666%;
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box;
	position: relative;
	float: left;
	clear: none;
	padding: 0 30px 0 0;
	margin: 0 0 20px 0;
}

.cc2 {
	column-count: 2;
	-moz-column-count: 2;
	-webkit-column-count: 2;
}

.cc3 {
	column-count: 3;
	-moz-column-count: 3;
	-webkit-column-count: 3;
}

/* adserver zones */

.leaderboard {
	width: 728px;
	max-width: 100%;
	float: right;
}

.leaderboard ins {
	width: 100%;
}

.leaderboard ins img {
	width: 100% !important;
	max-width: 728px;
	height: auto !important;
}

@media screen and (max-width: 1200px) {
	.leaderboard {
		float: left !important;
		margin-top: 20px;
	}
}


.boxad_array ins {
	width: 100%;
}

.boxad_array ins img {
	width: 100% !important;
	max-width: 336px;
	height: auto !important;
	margin-bottom: 20px;
}

/* footer */


#sharethis {
	position: relative;
	display: none;
}

#sharethis span {
	display: inline-block;
	height: auto;
	position: relative;
	margin-top: -10px;
}

#footer {
	padding: 12px 0;

	background-image: -webkit-gradient(
	linear,
	left top,
	right top,
	color-stop(0, #B88EC0),
	color-stop(1, #592580)
	);
	background-image: -o-linear-gradient(right, #B88EC0 0%, #592580 100%);
	background-image: -moz-linear-gradient(right, #B88EC0 0%, #592580 100%);
	background-image: -webkit-linear-gradient(right, #B88EC0 0%, #592580 100%);
	background-image: -ms-linear-gradient(right, #B88EC0 0%, #592580 100%);
	background-image: linear-gradient(to right, #B88EC0 0%, #592580 100%);
	
	color: white;
	
}

#footer .footer_button {
	display: inline-block;
	padding: 4px 8px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #F0F0F0;
	margin-right: 4px;
	color: black !important;
}

.feeditem {
	padding-left: 70px;
	min-height: 54px;
	background-position: left top;
	background-repeat: no-repeat;
}

.feeditem.news {
	background-image: url(../img/feeditems_news.png);
}

.feeditem.careers-advice {
	background-image: url(../img/feeditems_careersadvice.png);
}

#supportedby {
	background-color: #EEEEEE;
	padding: 30px 0;
}

#supportedby img {
	max-width: 100%;
}

/* misc */

.clear {
	clear: both;
}

.fl {
	position: relative;
	float: left !important;
	clear: none;
}

.fr {
	position: relative;
	float: right !important;
	clear: none;
}

.cc2 {
	column-count: 2;
	-moz-column-count: 2;
	-webkit-column-count: 2;
}

.cc3 {
	column-count: 3;
	-moz-column-count: 3;
	-webkit-column-count: 3;
}

.cc4 {
	column-count: 4;
	-moz-column-count: 4;
	-webkit-column-count: 4;
}

.recruiter_icon_panel {
	text-align: center;
	height: 180px;
}

.recruiter_icon_panel img {
	max-width: 100%;
}
/* ibe directory */

.qpanel {
	background-color: #EEEEEE;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding: 12px;
	margin-bottom: 6px;
	position: relative;
}

.qpanel.tabbed {
	border-radius: 0 8px 8px 8px;
	-moz-border-radius: 0 8px 8px 8px;
	-webkit-border-radius: 0 8px 8px 8px;	
}

ul.tabs {
	position: absolute;
	top: -30px;
	left: 0px;
}

ul.tabs li {
	display: inline-block;
	background-color: #DDDDDD;
	height: 22px;
	padding: 4px 8px 4px 8px;
	margin: 0 2px 0 0;
	border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
}

ul.tabs li.active {
	background-color: #EEEEEE;
}

.purplegrad {
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #B88EC0),
	color-stop(1, #592580)
	);
	background-image: -o-linear-gradient(bottom, #B88EC0 0%, #592580 100%);
	background-image: -moz-linear-gradient(bottom, #B88EC0 0%, #592580 100%);
	background-image: -webkit-linear-gradient(bottom, #B88EC0 0%, #592580 100%);
	background-image: -ms-linear-gradient(bottom, #B88EC0 0%, #592580 100%);
	background-image: linear-gradient(to bottom, #B88EC0 0%, #592580 100%);
	
	color: white;
}

.darkpurplegrad {
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #976AAA),
	color-stop(1, #592580)
	);
	background-image: -o-linear-gradient(bottom, #976AAA 0%, #592580 100%);
	background-image: -moz-linear-gradient(bottom, #976AAA 0%, #592580 100%);
	background-image: -webkit-linear-gradient(bottom, #976AAA 0%, #592580 100%);
	background-image: -ms-linear-gradient(bottom, #976AAA 0%, #592580 100%);
	background-image: linear-gradient(to bottom, #976AAA 0%, #592580 100%);
	
	color: white;
}

.question {
	margin: 0 0 5px 0;	
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 100;
	line-height: 1.2em;
	word-wrap: normal;
}

.question label {
	color: #53247E;
	display: inline-block;
	width: 30%;
	margin: 0 0 6px 0;
	padding: 0px;
	font-size: 1.1em;
}

.qpanel.purplegrad .question label {
	color: white;
}


.question.widelabel label {
	width: 50%;
}

.question input[type='text'],
.question input[type='email'],
.question input[type='password'],
.question textarea,
.question select {
	width: 70%;
	border: none;
	padding: 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.question.widelabel input[type='text'],
.question.widelabel input[type='email'],
.question.widelabel input[type='password'],
.question.widelabel textarea,
.question select {
	width: 50%;
}

.question textarea {
	width: 100%;
	max-width: 100%;
	min-height: 150px;
}

.question input[type='text'],
.question input[type='email'],
.question input[type='password'] {
	height: 30px;
}

.question fieldset {
	background-color: white;
	padding: 8px;
	margin: 0px;
	border: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.question fieldset p {
	margin: 0px;
}

.question fieldset p.inset1 {
	padding-left: 20px;
}

.question fieldset label {
	color: #999999;
	width: auto;
	font-size: 1em;
	padding: 0 0 0 6px;
}

.preview {
	height: 90vh;
	overflow: scroll;
}

#adpreview {
	position: relative;
}

#adpreview input[type='submit'] {
	position: absolute;
	top: 0px;
	right: 0px;
}

.searchresults {
	width: 100%;
    border-spacing: 0px 4px;
    border-collapse: separate;
}

.searchresults tbody tr {
	background-color: #EEEEEE;

}

.searchresults tbody tr.promoted {
	background: #d5c9de url(../img/promote_palepurple.png) repeat-x !important;
}

.searchresults tbody tr.promoted h4 {
	font-size: 2em;
}


.searchresults td {
	padding: 0px 8px;
	margin-bottom: 4px;
}

.searchresults img {
	width: 50px;
}

.clickable {
	cursor: pointer;
}

tr.clickable:hover {
	background-color: #DDDDDD;
}

#job_bullets {
	min-height: 200px;
	padding: 0px;
}



#job_bullets table td {
	vertical-align: top;
}

#job_bullets p {
	margin: 0 0 4px 0;
}

#job_bullets .detail_label,
#job_bullets .detail_value {
	display: inline-block;
	width: 50%;
}

#job_bullets .detail_label {
	font-weight: 300;
}

#job_bullets #togglesearchform {
	position: absolute;
	bottom: 12px;
	left: 12px;
	cursor: pointer;
}

#job_bullets .popoutform {
	display: none;
	position: relative;
	left: 100%;
	margin-left: -8px;
	top: 0px;
	width: 200%;
	min-height: 200px;
	z-index: 100;
	border-radius: 0 8px 8px 0;
	-moz-border-radius: 0 8px 8px 0;
	-webkit-border-radius: 0 8px 8px 0;
	
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #A579B3),
	color-stop(1, #68368A)
	);
	background-image: -o-linear-gradient(bottom, #A579B3 0%, #68368A 100%);
	background-image: -moz-linear-gradient(bottom, #A579B3 0%, #68368A 100%);
	background-image: -webkit-linear-gradient(bottom, #A579B3 0%, #68368A 100%);
	background-image: -ms-linear-gradient(bottom, #A579B3 0%, #68368A 100%);
	background-image: linear-gradient(to bottom, #A579B3 0%, #68368A 100%);

}

#job_bullets .popoutform form {
	width: 100%;
	position: relative;
	float: left;
	clear: none;
}


#job_bullets .popoutform .question input[type='text'],
#job_bullets .popoutform .question input[type='email'],
#job_bullets .popoutform .question input[type='password'],
#job_bullets .popoutform .question textarea,
#job_bullets .popoutform .question select,
#job_bullets .popoutform div.selector {
	width: 60% !important;
	display: inline-block;
}

#job_bullets .popoutform .question input[type='text'] {
	margin-left: -3px !important;
}



.prototype {
	display: none;
}

.sortform input[type='submit'] {
	border: none;
	background: none;
	background-image: url(../img/sort_arrow.png);
	background-repeat: no-repeat;
	background-position: right center;
	padding: 0 12px 0 0;
	font-size: inherit;
	font-family: inherit;
	cursor: pointer;
	outline: none;
	
}


/* login form */

form#login{
    display: none;
    background-color: #FFFFFF;
    position: fixed;
    top: 20px;
    width: 350px;
    padding: 8px;
    z-index: 999;
    left: 50%;
    margin-left: -200px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    box-shadow: 0 3px 9px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 3px 9px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.4);
}

form#login .qpanel {
	margin: 0px;
}

form#login .close {
	position: absolute;
	top: 5px;
	right: 5px;
}

form#login label {
	width: 29%;
}

form#login p.status{
    display: none;
}

form#login .lost {
	margin-top: 24px;
}

form#login .lost a {
	color: #999999;
}


form#login input[type='submit'] {
	font-family: "Source Sans Pro", sans-serif;
	background: none;
	border: 2px solid #592580;
	color: #592580;
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	font-size: 1.2em;
	position: relative;
	float: right;
	clear: none;
	cursor: pointer;
	margin-top: 8px;
}

.login_overlay{
    height: 100%;
    width: 100%;
    background-color: #53247E;
    opacity: 0.9;
    position: fixed;
    z-index: 998;
}