nav#main {
	height: 60px;
	background-color: white;
	border-radius: 12px 12px 0 0; 
	-moz-border-radius: 12px 12px 0 0; 
	-webkit-border-radius: 12px 12px 0 0;
	position: relative;
	margin-top: 40px;
	padding: 8px 8px 0 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


nav#main ul {
	background: url(../img/navbar_bg.png) repeat-x center bottom;
	margin: 0px;
	padding: 0px;
	border-radius: 6px; 
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	height: 52px;
	overflow: hidden;
}

nav#main ul > li {
	display: block;
	position: relative;
	float: left;
	clear: none;
	list-style: none;
	margin: 0px !important;
	padding: 0px;
	border-right: 1px solid white;
}

nav#main ul > li.nav_logo {
	height: 52px;
	padding: 7px 20px 7px 7px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;	
}

nav#main ul > li.purple {
	background: url(../img/nav_palepurple.png) repeat-x !important;
}


nav#main ul > li.fr {
	border-right: none;
	border-left: 1px solid white;
}

nav#main ul > li a {
	padding: 15px 20px;
	margin: 0px;
	height: 52px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: inline-block;
	color: #333333;
	text-decoration: none;
}

nav#main ul > li.nav_logo a {
	padding: 0px;
}

nav#main ul > li.current-menu-item a {
	background: url(../img/nav_active_bg.png) repeat-x center bottom;
	color: white !important;	
}

nav#main ul > li.jobsearch a {
	padding-left: 50px;
	background-image: url(../img/navicon-jobsearch-grey.png);
	background-repeat: no-repeat;
	background-position: 20px center;
}

nav#main ul > li.studentships a {
	padding-left: 58px;
	background-image: url(../img/navicon-studentships-grey.png);
	background-repeat: no-repeat;
	background-position: 20px center;
}

nav#main ul > li.careeradvice a {
	padding-left: 50px;
	background-image: url(../img/navicon-careeradvice-grey.png);
	background-repeat: no-repeat;
	background-position: 20px center;
}

nav#main ul > li.advertisers a {
	padding-left: 50px;
	background-image: url(../img/navicon-advertisers-grey.png);
	background-repeat: no-repeat;
	background-position: 20px center;
}

nav#main ul > li.jobsearch.current-menu-item a {
	background:
		url(../img/navicon-jobsearch-white.png) no-repeat 20px center,
		url(../img/nav_active_bg.png) repeat-x center bottom;
}

nav#main ul > li.studentships.current-menu-item a {
	background:
		url(../img/navicon-studentships-white.png) no-repeat 20px center,
		url(../img/nav_active_bg.png) repeat-x center bottom;
}

nav#main ul > li.careeradvice.current-menu-item a {
	background:
		url(../img/navicon-careeradvice-white.png) no-repeat 20px center,
		url(../img/nav_active_bg.png) repeat-x center bottom;
}

nav#main ul > li.advertisers.current-menu-item a {
	background:
		url(../img/navicon-advertisers-white.png) no-repeat 20px center,
		url(../img/nav_active_bg.png) repeat-x center bottom;
}



/* secondary navigation */

nav#secondary {
	position: relative;
	float: left;
	clear: none;
	margin: 10px 0 0 0px;
}

nav#secondary ul li {
	display: inline-block;
	margin-right: 20px;
}